<footer class="footer">
  <div class="container">
    <div class="footer-line-container">
      <img src="/img/line.svg" class="footer-line"/>
    </div>
    <div class="footer-content">
      <p>Clubroom: Päätalo basement, PC001E</p>
      <a href="https://www.facebook.com/pollextut" class="footer-icon">
        <i id="fb" class="fab fa-facebook fa-3x" aria-hidden="true"></i>
      </a>
      <a href="/" id="gramlink" class="footer-icon">
        <i id="tg" class="fab fa-telegram fa-3x" aria-hidden="true"></i>
      </a>
      <a href="https://www.linkedin.com/company/pollexclub/" class="footer-icon">
        <i id="in" class="fab fa-linkedin fa-3x" aria-hidden="true"></i>
      </a>
      <a href="https://www.instagram.com/pollexclub/" class="footer-icon">
        <i id="insta" class="fab fa-instagram fa-3x" aria-hidden="true"></i>
      </a>
      <!--No words were pressed in the making of this site.-->
    </div>
  </div>

</footer>
