<div class="ghostfooter">
  <div class="footer-content">
    <div class="footer-sponsors">
      {{ range ((where .Site.Pages "Section" "sponsors").ByParam "rank") }}
      {{ if .Params.link }}
        <img src="{{ .Params.logo }}" height="64px" alt="{{ .Params.title }}">
      {{ end }}
      {{ end }}
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <div class="footer-line-container">
      <img src="/img/line.svg" class="footer-line" aria-hidden="true"/>
    </div>
    <div class="footer-content">
      <p>Clubroom: Päätalo basement, PC001E</p>
      {{ range ((where .Site.Pages "Section" "footer").ByParam "rank") }}
        {{ if .Params.link }}
        <a href="{{ .Params.link }}" class="footer-icon">
          <i id="{{ .Params.id }}"
             class="fab {{ .Params.icon }} fa-3x"
             aria-hidden="true"></i>
        </a>
        {{ end }}
      {{ end }}
      <div class="footer-sponsors">
      {{ range ((where .Site.Pages "Section" "sponsors").ByParam "rank") }}
        {{ if .Params.link }}
        <a href="{{ .Params.link }}" class="sponsor">
          <img src="{{ .Params.logo }}" height="24px">
        </a>
        {{ end }}
      {{ end }}
      </div>
      <!--No words were pressed in the making of this site.-->
    </div>
  </div>
</footer>
