<footer class="footer">
  {{ $headless := .Site.GetPage "/headless" }}
  {{ $reusablePages := $headless.Resources.GetMatch (strings.TrimPrefix "/headless/" "footer.md" ) }}
  <div class="container">
    <div class="footer-line-container">
      <img src="/img/line.svg" class="footer-line" aria-hidden="true"/>
    </div>
    <div class="footer-sponsors">
      <p>{{ $reusablePages.Params.headline_1 }}</p>
      {{ range $reusablePages.Params.sponsors }}
      <a href="{{ .link}}" class="sponsor">
        <img src="{{ .logo }}" alt="{{ .Params.title }}">
      </a>
      {{ end }}
    </div>
    <div class="footer-content">
      <p>{{ $reusablePages.Params.headline_2 }}</p>
      {{ range $reusablePages.Params.social_media }}
        <a href="{{ .link }}" class="footer-icon">
          <i id="{{ .id }}"
             class="fab {{ .icon }} fa-3x"
             aria-hidden="true"></i>
        </a>
      {{ end }}
      <!--No words were pressed in the making of this site.-->
    </div>
  </div>
</footer>
