{{ define "main" }}

<section class="hero topmost-container">
  <div class="header-container">
    <h1>Boards</h1>
    <p>{{ .Params.subtitle | markdownify }}</p>
  </div>
</section>
<section class="cards last-container">
  <div class="container">
    <div class="row">
      {{ range .Params.boards }}
        <div class="col-md-6">
          <div class="card-inner">
            <h2>{{ .title }}</h2>
            {{ .description | markdownify}}
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
