<!DOCTYPE html>
<html lang="en">
{{ partial "header.html" . }}
<body>
<div class="container primary">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/pollex-web-17/"><img src="../img/pollex_logo_3.jpg" class="brandimg"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/pollex-web-17/events/">Events</a></li>
                    <li class="active"><a href="/pollex-web-17/rules/">Rules</a></li>
                    <li><a href="/pollex-web-17/board/">Board</a></li>
                    <li><a href="/pollex-web-17/contact/">Contact & join</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {{ .Content }}
    </div>
    {{ partial "footer.html" . }}
</div>
</body>
</html>