{{ define "main" }}

<section class="carousel">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    
    <div class="carousel-inner">
      {{ range .Data.Pages }}
      <div class="carousel-item" id="53">
        <img class="d-block w-100" src="{{ .Params.banner }}">
        <div class="carousel-caption d-none d-md-block">
          <h3>{{ .Params.title }}</h3>
          <p>{{ .Content }}</p>
        </div>
      </div>
      {{ end }}
    </div>
    
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>

<div class="hero">
  <div class="container text-container">
    {{ .Content | markdownify }}
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("53").classList.add("active")
  });
</script>

{{ end }}
