<!DOCTYPE html>
<html lang="en">
{{ partial "header.html" . }}
<body class="container primary">

{{ partial "nav.html" . }}

<section class="blogintro hero">
  {{ .Content | markdownify }}
</section>
<section class="blogsection">
  {{ range .Data.Pages }}
  <div class="row parent blogcard">
    <div class="col-sm-5 blogpicture" style="background-image: url('{{ .Params.bannerpreview }}')"></div>
    <div class="col-sm-7 blogcontent">
      <h2 class="title">{{ .Params.title }}</h2>
      <div class="textcenter alignleft">{{ .Summary }}</div>
      <a href="/careers/{{ .Params.link }}" class="bloglink linkbutton">Read more</a>
    </div>
  </div>
  {{ end }}
</section>

{{ partial "footer.html" . }}

</body>
</html>