{{ define "main" }}

<section class="hero topmost-container">
  <div class="container">
    <div class="hero-card">
      <h1>{{ .Params.Title}}</h1>
      <p>
        {{ .Params.overlay }}
      </p>
    </div>
    <img class="hero-image" src="{{ .Params.banner }}">
  </div>
</section>
<section class="cards last-container">
  <div class="container">
    <div class="row">
      {{ range .Params.cards }}
        <div class="col-md-6">
          <div class="card-inner">
            <h2>{{ .title }}</h2>
            {{ .description | markdownify}}
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>

{{end}}
