{{ define "main" }}

<section class="hero topmost-container">
  <div class="container">
    <div class="hero-card">
      <h1>{{ with $.Site.GetPage "page" "intro.md" }}{{.Title}}{{end}}</h1>
      <p>
        {{ with $.Site.GetPage "page" "intro.md" }}{{.Content}}{{end}}
      </p>
    </div>
    <img class="hero-image" src="{{ with $.Site.GetPage "page" "intro.md" }}{{ .Params.banner }}{{end}}">
  </div>
</section>
<section class="cards last-container">
  <div class="container">
    <div class="row">
      {{ range ((where .Site.Pages "Section" "front-cards").ByParam "rank") }}
        {{ if .Params.Title }}
        <div class="col-md-6">
          <div class="card-inner">
            <h2>{{ .Params.Title }}</h2>
            {{ .Content }}
          </div>
        </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>

{{end}}
