ul.navbar-nav > li > a:hover {
  background: #eee;
}

.active {
  background: #e1e0f0;
}

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

h1 {
  margin: 0 0 20px 0;
}

.hidden {
  display: none;
}

.primary {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0;
}

.imgcontainer {
  padding: 0;
  width: 100%;
}

.navbar {
  margin: 0;
  border: none;
  border-bottom: 2px solid #eee;
  background: #fff;
}

.text-container {
  max-width: 640px;
}

.imglayer {
  position: absolute;
  top: 50%;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translate(0%, -50%);
  text-align: left;
  font-weight: bold;
  padding: 20px 71% 20px 20px;
  background: linear-gradient(300deg, rgba(255, 0, 0, 0) 65%, rgba(255, 255, 255, 255) 35%);
}

img {
  position: relative;
}

.thumbnail {
  padding: 0;
  margin: 0;
  border: none;
  position: relative;
  display: block;
}

.cards {
  text-align: center;
}

#card1 {
  background: #d4d2f0;
  padding: 20px;
}

#card2 {
  padding: 20px;
}

#card3 {
  background: #212040;
  color: #fff;
  padding: 20px;
}

#card4 {
  background: #38394e;
  color: #fff;
  padding: 20px;
}

.hero {
  background: #fff;
  padding: 40px 0;
}

.blogpicture {
  min-height: 200px;
  background: center no-repeat;
  background-size: cover;
}

.blogcard {
  border-top: 2px solid #eee;
  margin: 0;
  background: #fff;
}

.blogsection {
  background: #eee;;
}

.footer {
  border-top: solid 2px #eee;
  text-align: center;
  padding: 20px 15px;
  background: #fff;

  .footerimg {
    width: 100%;
    max-width: 300px;
    padding: 40px 0;
  }

  .footercontent {
    padding: 40px 0;
  }

  .footer a:hover {
    text-decoration: none;
  }

  i {
    margin: 0 10px;
    color: #333;
  }

  i:hover {
    color: #212040;
  }

  #fb {
    color: #3B5998
  }

  #in {
    color: #0077B5
  }

  #tg {
    color: #0088cc
  }

}

#fb:hover, #in:hover, #tg:hover, .fa-envelope:hover {
  opacity: 0.8;
  text-decoration: none;
}

@media (min-width: 768px) {

  .navbar {
    padding-bottom: 0;
    padding-top: 0;
  }

  .blogpicture, .blogcontent {
    display: flex;
    flex-direction: column;
  }

  .parent {
    display: flex
  }

  .brandimg {
    height: 40px;
  }

  ul.navbar-nav > li > a {
    padding: 20px 10px;
    color: #333;
  }

  .imglayer {
    font-size: 50px;
  }

  .imglayer > p {
    font-weight: normal;
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .brandimg {
    height: 38px;
  }

  ul.navbar-nav > li > a {
    padding: 20px 10px;
    color: #333;
  }

  .imglayer {
    font-size: 4.6vw;
  }

  .imglayer > p {
    font-weight: normal;
    font-size: 2.7vw;
  }
}